__pycache__

runs

Multigen/data/conceptnet-assertions-5.6.0.csv
Multigen/data/conceptnet_en.txt
Multigen/data/cpnet.graph

total_concepts.txt

concepts_nv.json
2hops_100_triple.json
2hops_100_directed_triple_filter.json